.loader-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 75px);
  align-items: center;
}

.loader-img {
  width: 100px;
  animation: spin 3s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(720deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
