.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffdfaa40;
}

.item-2 {
  grid-area: 1 / 2 / span 1 / span 2;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.item-3 {
  grid-area: 2 / 1 / span 1 / span 2;
}

.item-4 {
  display: flex;
  justify-content: end;
}

.item-6 {
  grid-area: 3 / 2 / span 1 / span 2;
}

.item {
  padding: 32px;
}

p {
  font-size: 24px;
  text-align: justify;
}
