.recipe-card {
  width: 300px;
  margin: 1rem;
  background-color: #fcfef9;
}

.recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 1rem;
}

p {
  text-align: justify;
}

.recipe-card-content {
  height: 112px;
}

.card-title {
  padding-bottom: 1rem;
}

.recipe-card-button:hover {
  background-color: #87a95a;
}
