.recipe-card {
  width: 300px;
  margin: 1rem;
  background-color: #ffdfaa40;
}

.recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 1rem;
}

p {
  text-align: justify;
}

.recipe-card-content {
  height: 112px;
}

.recipe-card-button {
  //   color: #50115f;
}
