@if (!(isMobile$ | async)) {
<mat-toolbar class="header-desktop">
  <img src="images/macaron-logo-new.png" alt="" style="height: 70px" />
  <div class="header-left-side">
    <button
      class="header-button"
      mat-button
      (click)="onNavigateToHome()"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </button>
    <button
      class="header-button"
      mat-button
      (click)="onNavigateToRecipe()"
      [routerLink]="['/recipes']"
      routerLinkActive="active"
    >
      Recipes
    </button>
    <button
      class="header-button"
      mat-button
      (click)="onNavigateToWebshop()"
      [routerLink]="['/webshop']"
      routerLinkActive="active"
    >
      Webshop
    </button>
    <button
      class="header-button"
      mat-button
      (click)="onNavigateToAboutMe()"
      [routerLink]="['/aboutMe']"
      routerLinkActive="active"
    >
      About me
    </button>
  </div>
  <div class="header-right-side">
    <button
      mat-mini-fab
      [matBadge]="(cartItemsLength$ | async) || null"
      class="cart-background"
      aria-label="Example icon button with a menu icon"
      (click)="onNavigateToCart()"
    >
      <i class="material-icons">shopping_cart</i>
    </button>
  </div>
</mat-toolbar>
} @else {
<mat-toolbar class="header-mobile">
  <button
    mat-mini-fab
    [matMenuTriggerFor]="beforeMenu"
    aria-label="Example icon button with a menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu">
    <button
      class="header-button"
      mat-menu-item
      (click)="onNavigateToHome()"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </button>
    <button
      class="header-button"
      mat-menu-item
      (click)="onNavigateToRecipe()"
      [routerLink]="['/recipes']"
      routerLinkActive="active"
    >
      Recipes
    </button>
    <button
      class="header-button"
      mat-menu-item
      (click)="onNavigateToWebshop()"
      [routerLink]="['/webshop']"
      routerLinkActive="active"
    >
      Webshop
    </button>
    <button
      class="header-button"
      mat-menu-item
      (click)="onNavigateToAboutMe()"
      [routerLink]="['/aboutMe']"
      routerLinkActive="active"
    >
      About me
    </button>
  </mat-menu>
  <img src="images/macaron-logo-new.png" alt="" style="height: 70px" />
  <div class="header-right-side">
    <button
      mat-mini-fab
      [matBadge]="(cartItemsLength$ | async) || null"
      class="cart-background"
      aria-label="Example icon button with a menu icon"
      (click)="onNavigateToCart()"
    >
      <i class="material-icons">shopping_cart</i>
    </button>
  </div>
</mat-toolbar>
}
<router-outlet />
