<mat-toolbar class="header">
  <img src="images/macaron-logo-new.png" alt="" style="height: 70px" />
  <div class="header-left-side">
    <button
      class="header-button"
      mat-button
      (click)="onNavigateToHome()"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </button>
    <button
      class="header-button"
      mat-button
      (click)="onNavigateToRecipe()"
      [routerLink]="['/recipes']"
      routerLinkActive="active"
    >
      Recipes
    </button>
    <button
      class="header-button"
      mat-button
      (click)="onNavigateToWebshop()"
      [routerLink]="['/webshop']"
      routerLinkActive="active"
    >
      Webshop
    </button>
    <button
      class="header-button"
      mat-button
      (click)="onNavigateToAboutMe()"
      [routerLink]="['/aboutMe']"
      routerLinkActive="active"
    >
      About me
    </button>
  </div>
  <div class="header-right-side">
    <button
      mat-mini-fab
      [matBadge]="(cartItemsLength$ | async) || null"
      class="cart-background"
      aria-label="Example icon button with a menu icon"
      (click)="onNavigateToCart()"
    >
      <i class="material-icons">shopping_cart</i>
    </button>
  </div>
</mat-toolbar>

<router-outlet />
