<mat-toolbar class="header">
  <img src="images/macaron-logo.png" alt="" style="height: 55px" />
  <div class="header-left-side">
    <button class="header-button" mat-button (click)="onNavigateToHome()">
      Home
    </button>
    <button class="header-button" mat-button (click)="onNavigateToRecipe()">
      Recipes
    </button>
    <button class="header-button" mat-button (click)="onNavigateToWebshop()">
      Webshop
    </button>
  </div>
  <div class="header-right-side">
    <button
      mat-mini-fab
      class="cart-background"
      aria-label="Example icon button with a menu icon"
      (click)="onNavigateToCart()"
    >
      <i class="material-icons">shopping_cart</i>
    </button>
  </div>
</mat-toolbar>

<router-outlet />
