<div [ngStyle]="{ 'background-color': recipeRef.backgroundColor }">
  <h1 mat-dialog-title>{{ recipeRef.name }}</h1>
  <div class="recipe-dialog-upper-section">
    <mat-dialog-content class="mat-typography">
      <h3>Ingredients</h3>
      @for (ingredient of recipeRef.ingredients; track $index) {
      <li>{{ ingredient.name }}: {{ ingredient.quantity }}</li>
      } </mat-dialog-content
    ><img
      class="recipe-dialog-img"
      [src]="recipeRef.recipeDialogImgSrc"
      [alt]="`${recipeRef.name} in making`"
    />
  </div>
  <mat-dialog-content class="mat-typography">
    <h3>Instructions</h3>
    <div class="instruction">{{ recipeRef.instructions }}</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close class="close-button">Close</button>
  </mat-dialog-actions>
</div>
