@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.button-overrides(
    (
      // button background color
      filled-container-color: #a9d471,
      filled-label-text-color: #000000,
      //  focusnal ez ervenyesul
      filled-ripple-color: #657f43
    )
  );

  @include mat.fab-overrides(
    (
      // button background color
      small-container-color: #a9d471,
      // When button is hovered, it makes shadow
      small-container-elevation-shadow: #87a95a,
      // button icon color
      small-foreground-color: #384625
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// #ffdfaa

// vilagos zold: #edffde
// erosebb zold: #bcec7e
// fekete: #000000
// home-page background color: #fbfff2
