@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.button-overrides(
    (
      // button background color
      filled-container-color: #fc9299,
      filled-label-text-color: #50115f,
      //  focusnal ez ervenyesul
      // filled-ripple-color: #8d181f
    )
  );

  @include mat.fab-overrides(
    (
      // button background color
      small-container-color: #ff707a,
      // When button is hovered, it makes shadow
      small-container-elevation-shadow: #50115f,
      // button icon color
      small-foreground-color: #50115f
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// #ffdfaa

// vilagos zold: #edffde
// erosebb zold: #bcec7e
// fekete: #000000
